button {
    width: 150px;
	height:150px;
    background-color: white;
	border-style: solid;
    border-width: 5px;
    border-right-width:7px;
    border-left-width:10px;
	border-color: black;
	margin-right:-10px;
}

h1 {
	text-align:center;
	font-family: Tahoma;
	font-size: 30pt;
	color:#29638d;
}

#gameBoard {
	display:none;
}

#difficulty {
	display:none;
}

.left {
	 border-left-width:7px;
	 margin-left:410px;
}

.type {
	width:170px;
	height: 55px;
	background-color:#a1c8f6;
	border-color:#a1c8f6;
	margin-left:410px;
	font-size:20pt;
	font-family:Tahoma;
	text-align:center;
	margin-left:410px;
	margin-top:5px;
	border-right-width:0px;
    border-left-width:0px;
}

.difficulty {
	width:90px;
	height: 40px;
	background-color:#aeddf5;
	border-color:#aeddf5;
	font-size:15pt;
	font-family:Tahoma;
	text-align:center;
	margin-left:20px;
	margin-top:15px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
	text-align:center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #29638d;
    color: white;
}

.modal-body {
	padding: 2px 16px;
}

.modal-footer {
    padding: 2px 8px;
    background-color: #29638d;
    color: white;
}

.playButton {
  display: inline-block;
  border-radius: 4px;
  background-color: #102738;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 0px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 70px;
  text-decoration:none;
}

.playButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  
}

.playButton span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.playButton:hover span {
  padding-right: 25px;
}

.playButton:hover span:after {
  opacity: 1;
  right: 0;
}

